---
import { Image } from "astro:assets";
import Title from "./Title.astro";
import TopBar from "./TopBar.astro";
import { type Post } from "../scripts/types/Post.ts";

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { src, alt } = post.image;
const { link, text } = post.title;
---

<article
    class="flex flex-col w-[23rem] h-[25rem] px-3 py-3 rounded-3xl shadow-post bg-g-aose"
>
    <TopBar difficulty={post.diff} />
    <Image
      class="w-96 h-40 my-3 object-cover rounded-t-xl"
      src={src}
      alt={alt}
      width="200"
      height="200"
    />
    <Title ref={link}>{text}</Title>
    <p
      class="h-full text-lg"
    >{post.description}</p>
</article>